<div class="container main">
    <div class="left p-2 ">
        <h1 class="main-heading">A comprehensive platform for reliable</h1>
        <h2 class="text-white ml12">
           
        <h5 class="text-white">Get Discovered. Get Hired.</h5>
        <h1 class = "letter">job opportunities and internships</h1>
        <div class="actions">
            <a href="/jobs" class="btn btn-lg lbtn"> I'm A Job Seeker </a>
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-lg lbtn mx-2">
                I'm A Recruiter
            </button>
        </div>
    </div>
    <div class="right">
        <img src="images/banner.png" alt="banner">
    </div>
</div>