<div class="container p-4 mx-auto w-50 form-box my-5 rounded-md shadow">
    <h3 class="text-center text-primary mb-4">Recruiter Registration</h3>
    <form action="/register" method="post">
        
        <!-- Name -->
        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input required name="name" type="text" class="form-control" placeholder="Enter your full name">
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input required name="email" type="email" class="form-control" placeholder="Enter your email">
        </div>

        <!-- Company Name -->
        <div class="mb-3">
            <label class="form-label">Company Name</label>
            <input required name="company" type="text" class="form-control" placeholder="Enter your company name">
        </div>

       

        <!-- Password -->
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input required name="password" type="password" class="form-control" placeholder="Enter your password">
        </div>

       

        <!-- Submit Button -->
        <button class="w-100 btn btn-primary mt-3" type="submit">Register</button>

    </form>
</div>
