<div class="container p-4 mx-auto w-50 form-box  rounded-md shadow">
    <h3 class="text-center text-primary mb-4">Recrutier LogIn</h3>
    <form action="/login" method="post">



        <!-- Email -->
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input required name="email" type="email" class="form-control" placeholder="Enter your email">
        </div>





        <!-- Password -->
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input required name="password" type="password" class="form-control" placeholder="Enter your password">
        </div>



        <!-- Submit Button -->
        <button class="w-100 btn btn-primary mt-3" type="submit">LogIn</button>



    </form>
</div>

<div class="text-center text-primary mb-4">
    <label>New Recruter Register first.</label>
    <a href="/register"><button>Register</button></a>
</div>